h1 {
    color: inherit !important;
}
h2 {
    color: inherit !important;
}
h3 {
    color: inherit !important;
}
h4 {
    color: inherit !important;
}
h5 {
    color: inherit !important;
}

.smlib_listbuilder_create_maindiv {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
    text-align: left;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color: rgba(255,255,255,1);
}

    .smlib_listbuilder_create_maindiv .mask {
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgba(255,255,255,0.8);
        z-index: 50;
        opacity: 0;
        overflow-y: hidden;
        overflow-x: hidden;
    }

        .smlib_listbuilder_create_maindiv .mask.smlibactive {
            z-index: 300;
            opacity: 1;
        }

/*Loading Mask*/
.smlib_listbuilder_create_loadingmask {
    position: absolute;
    opacity: 0;
    background: rgba(0,0,0,0.2);
    top: 0px;
    text-align:center;
    vertical-align:middle;
    z-index: 10;
}

    .smlib_listbuilder_create_loadingmask.smlibactive {
        opacity: 1;
        z-index: 350;
    }

    .smlib_listbuilder_create_loadingmask .loadingimg {
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 150px;
        color: rgba(255,255,255,0.7);
        text-align: center;
        vertical-align: middle;
    }


/*Input Form*/
.smlib_listbuilder_create_inputdiv
{
    height:30px;
    min-height:30px;
    max-height:30px;
    position:absolute;
    top:10px;
    left:5%;    
    width:90%;    
}

/*content div*/
.smlib_listbuilder_create_contentdiv {
    position: absolute;
    top: 40px;
    left: 5%;
    width: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
}
    .smlib_listbuilder_create_contentdiv .header {
       
    }
        .smlib_listbuilder_create_contentdiv .header.form {
            position: absolute;
            width: 100%;
            top: 0px;
            left: 0px;
            height: 50px;
            min-height: 50px;
            max-height: 50px;
        }
    .smlib_listbuilder_create_contentdiv .content {
        overflow-y: auto;
        overflow-x: hidden;
    }
        .smlib_listbuilder_create_contentdiv .content.form {
            position: absolute;
            width: 100%;
            top: 50px;
            left: 0px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .smlib_listbuilder_create_contentdiv .content .itemdiv {
            margin-top: 10px;
            margin-left: 10px;
            z-index: 210;
            background-color: rgba(0,0,0,0.3);
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            margin-left: 10px;
            margin-right: 20px;
            width: 100%;
        }
            .smlib_listbuilder_create_contentdiv .content .itemdiv.listitem {
                position: absolute;                
                padding-left: 10px;
                padding-right: 10px;
                z-index: 210;
            }
            .smlib_listbuilder_create_contentdiv .content .itemdiv.drag {
                position: absolute;
                z-index: 220;
            }
            .smlib_listbuilder_create_contentdiv .content .itemdiv .logoimg {
                width: 20px;
                min-width: 20px;
                max-width: 20px;
                height: 20px;
                min-height: 20px;
                max-height: 20px;
            }
            .smlib_listbuilder_create_contentdiv .content .itemdiv .cover {
                width: 30%;                
                max-width: 150px;
                display: inline-block;
                vertical-align: top;
                text-align:center;
            }
            .smlib_listbuilder_create_contentdiv .content .itemdiv .halfdetil {
                width: 60%;
                min-width: 60%;
                max-width: 60%;
                margin-left: 1%;
                display: inline-block;
                vertical-align: top;
            }

